body {
   background-image: url(img/gold\ bg.jpg) ;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
h1 {
    color: rgb(225, 230, 220);
    font-weight: 700;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h2 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.row6 {
    background-color:red;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 70%;
    font-weight: 600;
    color: black;
}
.col-md-3-tips {
    float: left;
    margin-left: 70px;
    color: rgb(240, 237, 245);
}
.col-md-3-imagen {
    margin-bottom: 20px;
}
.row5 {
    background-color:purple;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 80%;
    font-weight: 600;
    color: white;
}
.row4 {
    background-color: rgb(8, 133, 14);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 90%;
}
.col-md-3-application {
    background-color: rgb(8, 133, 14);
    color: skyblue;
}
.col-md-3-application-pro {
    float: left;
    margin-left: 70px;
    color: skyblue;
}
.col-md-3-application-mg {
    margin-bottom: 20px;
}
.row3 {
    background-color: orange;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.col-md-4 {
    background-color: orange;
    color: white;
    float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.row2 {
    background-color: rgb(8, 10, 158);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 90%;
}
.col-md-7 {
    float: right;
    background-color: rgb(8, 10, 158);
}
.col-md-5 {
    float: left;
    background-color: rgb(8, 10, 158);
    height: 366px;
    text-align: center;
    font-size: 25px;
    color: white;
    
}
.row1 {
    background-color: rgb(197, 25, 120);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 80%;
}
.col-md-9 {
    float: right;
    background-color: rgb(197, 25, 120);
}
.col-md-3 {
    float: left;
    background-color: rgb(197, 25, 120);
    height: 385px;
    text-align: center;
    font-size: 18px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

